<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de registro de producto</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="relative flex min-h-screen text-gray-800 antialiased flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
        <div class="relative py-3 sm:w-[600px] mx-auto text-center">
          <span class="text-2xl font-light ">Formulario de registro de producto</span>
          <div class="mt-4 bg-white shadow-md rounded-lg text-left">
            <div class="h-2 bg-purple-400 rounded-t-md"></div>
            <div class="px-8 py-6 ">
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <div class="flex justify-between items-baseline">
                        <button type="submit" class="mt-4 bg-purple-500 text-white py-2 px-6 rounded-md hover:bg-purple-600 ">Enviar</button>
                        <a href="{% url 'shop:index' %}" class="text-sm hover:underline">Volver a inicio</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <style>
        select option[value="default"] {
            color: #6B7280;
        }
        select {
            color: #1F2937;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const select = document.getElementById('categoria');
            
            // Establece el color inicial
            if (select.value === '') {
                select.style.color = '#6B7280';
            }

            // Cambia el color cuando se selecciona una opción
            select.addEventListener('change', function() {
                if (this.value === '') {
                    this.style.color = '#6B7280';
                } else {
                    this.style.color = '#1F2937';
                }
            });
        });
    </script>
</body>
</html>